<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhnent.toastanalytics.sample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />
    
    <!-- Toast Analytics Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <!-- GooglePlayService Version -->
        <meta-data 
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />
		
        <!-- Store Info - Google, Naver, TStore... -->
		<meta-data 
		    android:name="com.toast.android.analytics.appstore" 
		    android:value="TestStore"/>
		
		<!-- Promotion Activity -->
        <activity
            android:name="com.toast.android.analytics.PromotionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        
        <!-- Install Receiver -->
		<receiver android:name="com.toast.android.analytics.InstallReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        
		<!-- Execution Receiver -->
		<receiver android:name="com.toast.android.analytics.ExecutionReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.toast.android.analytics.toastpromotion.EXECUTION" />
            </intent-filter>
        </receiver>
		
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
