<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nhnent.neaflat.sample"
    android:theme="@android:style/Theme.NoTitleBar"
    android:versionCode="1"
    android:versionName="1.0">
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true"/>

    <!-- Analytics SDK 기본 Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    
    <!-- GCM Permission -->
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<permission android:name="com.nhnent.neaflat.sample.permission.C2D_MESSAGE" android:protectionLevel="signature"/> <!-- 게임에 맞게 수정해야 합니다. -->
    <uses-permission android:name="com.nhnent.neaflat.sample.permission.C2D_MESSAGE"/> <!-- 게임에 맞게 수정해야 합니다. -->

    <application
    	android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:debuggable="true">
        
        <!-- Google Play Service 버전 설정 -->
	    <meta-data 
    	    android:name="com.google.android.gms.version" 
        	android:value="@integer/google_play_services_version" />
        	        
        <!-- GCM Receiver -->
		<receiver
		    android:name="com.toast.android.analytics.gcm.GcmBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND" >
		    <intent-filter android:priority="1">
		        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		        <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		        <category android:name="com.nhnent.neaflat.sample" /> <!-- 게임에 맞게 수정해야 합니다. -->
		    </intent-filter>
		</receiver>
		<service android:name="com.toast.android.analytics.gcm.GcmIntentService"/>
		
		<!-- Appstore Data -->
        <!-- android:value를 앱을 출시하는 앱스토어에 맞게 수정해야 합니다. -->
        <!-- Google Play Store는 "Google", 그 외 스토어는 게임에서 구분할 수 있는 값으로 입력하면 됩니다. -->
        <meta-data android:name="com.toast.android.analytics.appstore" android:value="TestAppStore"/> 
        
        <!-- Promotion WebView Activity -->
        <!-- 프로모션을 사용하는 경우 추가합니다. 가로/세로 고정을 위해서는 android:screenOrientation 을 이용하여 설정합니다. -->
        <activity
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:name="com.toast.android.analytics.PromotionActivity" />
        
        <!-- Install Receiver -->
        <!-- 프로모션/캠페인을 통한 앱 설치 추적을 위한 Receiver입니다. -->
		<receiver android:name="com.toast.android.analytics.InstallReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        
		<!-- Execution Receiver -->
		<!-- 프로모션을 통한 앱 실행 추적을 위한 Receiver입니다. -->
		<receiver android:name="com.toast.android.analytics.ExecutionReferrerReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.toast.android.analytics.toastpromotion.EXECUTION" />
            </intent-filter>
        </receiver>
        

        <!-- 게임 Activity입니다. 이 부분은 게임마다 다릅니다 -->
        <activity android:name="com.unity3d.player.UnityPlayerNativeActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
            <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
        </activity>
        
    </application>
</manifest>